<%- include('includes/hstart', {title}) %>
    <link rel="icon" href="/favicon.png">
    <%- include('includes/hcss', { cssfiles: [
        "https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css",
        "/css/style.css"] }) %>
<%- include('includes/hmid') %>
<%- include('includes/hbackground') %>

<main class="calculator-wrapper">
    <h1 class="mint"><%= ip %></h1>
</main>

<%- include('includes/hend') %>